.StandardLayout {
  :global {
    .arco-layout-sider-children {
      overflow-x: hidden;
      .arco-tabs-content {
        padding: 0;
      }
    }
    .arco-collapse-item-content-expanded {
      overflow: visible;
    }
    .sendbix-builder-tabWrapper {
      padding: 5px;
    }
  }
}
